body{
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    background-color: #000000;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255 255 255 / 50%);
}



button{
    background: transparent;
    border: 0;
}


.control{
    border: 0;
    border-radius: 8px;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: rgb(255 255 255 / 6%);
    color: #f9f9f9;
    margin:  8px 0;
    transition: 0.4s;
}

#bars{
    margin:  8px 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 6px;
    border-radius: 3px;
    background: rgb(255 255 255 / 6%);
}

#bars div{
    height: 6px;
    border-radius: 3px;
    transition: 0.4s;
    width: 0%;
}

#bars.weak div{
    background: #d0424f;
    width: 33.33%;
}

#bars.medium div{
    background: #e58448;
    width: 66.66%;
}

#bars.strong div{
    background: #1eb965;
    width: 100%;
}

.form
input.control
::placeholder{
    color: rgb(255 255 255 / 25%);
}

.form
> button.control{
    cursor: pointer;
    width: 100%;
    height: 56px;
    padding: 0 16px;
    background: #3a75;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
    transition: all 0.375s;
}

.card{
    width: 320px;
    padding: 100px 30px 32px;
    border-radius: 20px;
    background: rgb(0 0 0 / 21%);
    backdrop-filter: blur(26px);
    text-align: center;
}

.card > h2{
    color: rgb(255 255 255 / 50%);
    margin: 0 0 40px;
    font-weight: 500;
    font-size: 16px;
}